{% extends "base_page.html" %} 

{% block my_title %}My Profile{% endblock %} 

{% block my_head %} 

<style>
    .settings{ 
      text-decoration: none;
    }
  </style> 

{% endblock %}


{% block my_body %} 

    <br> 

    <div style="text-align:center;">
    

            <p><h1>Hello {{my_data[2]}} !</h1></p> 
    </div> 

    <br><br> 

    <div> 
        <p><h4>My profile</h4></p> 
        <p>Name : {{my_data[2]}} <br> Last name : {{my_data[3]}} <br> Email address : {{my_data[0]}}</p> 
        <br>
        <p><h4>Settings</h4></p> 
        <a href="#" class="settings">Change password</a> <br>
        <a href="#" class="settings">Delete Account</a>
    </div>

    

    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formChangePassword"></span>
        <hr class="mb-5">

        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Change Password</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="inputPasswordOld">Current Password</label>
                        <input type="password" class="form-control" id="inputPasswordOld" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNew">New Password</label>
                        <input type="password" class="form-control" id="inputPasswordNew" required="">
                        <span class="form-text small text-muted">
                                The password must be 8-20 characters, and must <em>not</em> contain spaces.
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordNewVerify">Verify</label>
                        <input type="password" class="form-control" id="inputPasswordNewVerify" required="">
                        <span class="form-text small text-muted">
                                To confirm, type the new password again.
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                    </div>
                </form>
            </div>
        </div> 



{% endblock %} 

