{% extends "base_page.html" %} 

{% block my_title %}My Profile{% endblock %} 

{% block my_head %} 

<style>
    .settings{ 
      text-decoration: none;
    }
  </style> 

{% endblock %}


{% block my_body %} 

    <br> 

    <div style="text-align:center;">
    

            <p><h1>Hello {{my_data[2]}} !</h1></p> 
    </div> 

    <br><br> 

    <div> 
        <p><h4>My profile</h4></p> 
        <p>Name : {{my_data[2]}} <br> Last name : {{my_data[3]}} <br> Email address : {{my_data[0]}}</p> 
        <br>
        <p><h4>Settings</h4></p> 
        <a href="/users/change_password" class="settings">Change password</a> <br>
        <a href="/users/delete_account" class="settings">Delete Account</a>
    </div>

    

    


{% endblock %} 

